body{
    width: 90%;
    height: 100vh;
    background-color: rgb(17, 17, 17);
    padding: 10px;
    margin: 20px;
}

.qr{
    margin: 3% 38%;
    width: 270px;
    height: 410px;
    text-align: center;
    background-color: bisque;
    border-radius: 3%;
}

img{
    margin-top: 20px;
    border-radius: 3%;
}

#te1{
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
}

#te2{
    font-size: 13px;
    line-height: 14px;
}